@{/***
                                       *Author: Irin Avery, Morrice Pfeiffer, Marco Duarte
                                       * Student Number: 200260949, 	200293988, 100006379
                                       * Date	Modified: Aug 18 2016
                                       * Short Version History: Scaffolded the details view
                                       * Description: A view that shows details of orders
                                    */
}
@model Restaurant.Models.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodItemID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
