<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sushi Express", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Menu", "Index", "Menu")</li>
                    <!--<li>@*Html.ActionLink("About", "Index", "About")*@</li>-->
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Cart", "Index", "ShoppingCart")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()        
    </div>
    <div class="footer">
            <div class="container">

                <div class="row">
                    <div class="text-center center-block">
                        <br />
                        <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social social-media-icon"></i></a>
                        <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social social social-media-icon"></i></a>
                        <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social social social-media-icon"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social social social-media-icon"></i></a>
                    </div>
                </div>
                <div class="row copyright">
                    <p class="text-muted">&copy; @DateTime.Now.Year - Sushi Express</p>

                </div>
         </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/shoppingCart")
    @RenderSection("scripts", required: false)
</body>
</html>
